*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin: 30px 0;
    text-align: center;
}

.timer{
    display: flex;
    justify-content: space-around;
    text-align: center;
}